DATABASE_URL="mongodb+srv://careplusfoundation19_db_user:Ten4hkXHDhccnvKQ@cluster0.mongodb.net/careplus?retryWrites=true&w=majority"
CLOUDINARY_CLOUD_NAME="bmf2tikg"
CLOUDINARY_API_KEY="993445429773831"
CLOUDINARY_API_SECRET="BAwlLkWMei_16_HFw4H7VO0TPrk"
CLOUDINARY_URL="cloudinary://993445429773831:BAwlLkWMei_16_HFw4H7VO0TPrk@bmf2tikg"
NEXT_PUBLIC_RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
