DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.mongodb.net/careplus?retryWrites=true&w=majority"
CLOUDINARY_CLOUD_NAME="your_cloud_name_here"
CLOUDINARY_API_KEY="your_api_key_here"
CLOUDINARY_API_SECRET="your_api_secret_here"
CLOUDINARY_URL="cloudinary://<api_key>:<api_secret>@<cloud_name>"
NEXT_PUBLIC_RAZORPAY_KEY_ID="your_razorpay_key_id"
RAZORPAY_KEY_SECRET="your_razorpay_secret"
